.alumns-list {
    background: var(--custom-grey);
    margin: 1em 0 1em 0;
    border: solid 2px var(--custom-teal);
    height: calc(100vh - 207px);
    min-height: 250px;
    display: flex;
    flex-direction: column;
}

.alumns-list-search {
    padding: 0.5em;
    justify-content: space-between;
}

.alumns-list-scrollable {
    margin: 0.5em;
    overflow-y: scroll;
}
