.search-bar {
    width: 10%;
    transition: width 300ms ease-in-out;
    position: absolute;
    left: 30px;
    top: 30px;
    height: fit-content;
    z-index: 1000;
    background: white;
    border: 1px solid black;
    border-radius: 7px;
    box-shadow: -1px 1px 10px rgb(31, 31, 31);
}

@media only screen and (max-width: 825px) {
    .search-bar {
        width: 25%;
    }
}

.search-bar-list {
    max-height: calc(100vh - 180px);
    margin: 0;
    overflow: hidden;
    overflow-y: scroll;
}

.search-bar-result {
    padding: 5% 5%;
}
