/* Legend Container */
.graph-legend {
    position: absolute;
    left: 30px;
    bottom: 30px;
    width: 130px;
    padding-inline: 0;
    box-shadow: -1px 1px 10px rgb(31, 31, 31);
    border-radius: var(--bs-border-radius);
    background-color: var(--custom-grey);
    /* transition: width 3000ms ease-in-out, height 3000ms ease-in-out; */
}

/* .graph-legend.legend-expanded {
    width: 300px;
    height: 250px;
    transition: width 1000ms ease-in-out, height 1000ms ease-in-out;
} */

.graph-legend.legend-expanded {
    animation: expandLegend 2000ms forwards;
}

@keyframes expandLegend {
    0% {
        width: 130px;
        height: 50px;
    }
    50% {
        width: 300px;
        height: 50px;
    }
    100% {
        width: 300px;
        height: 250px;
    }
}

.graph-legend-button {
    width: 100%;
    transition: width 1000ms ease-in-out, height 1000ms ease-in-out;
    background-color: var(--custom-grey);
}

.graph-legend-button.legend-expanded {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.graph-legend-row {
    align-items: center;
    flex-wrap: nowrap;
}

.legend-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid var(--custom-teal);
    padding-inline: 0;
}

.legend-line {
    width: 30px;
    height: 3px;
    background-color: var(--custom-purple);
    padding-inline: 0;
}

.legend-caret {
    padding-inline: 0;
}

/* Detailed Legend */
.graph-detailed-legend {
    /* transition: opacity 1000ms ease-in-out; */
    flex-wrap: nowrap;
    height: 200px;
    margin-inline: 0;
}

.detailed-legend-circles-and-lines {
    height: 100%;
    flex-wrap: nowrap;
}

.detailed-legend-item {
    flex-wrap: nowrap;
    height: inherit;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.detailed-legend-circles,
.detailed-legend-lines {
    height: 100%;
    /* box-shadow: -1px 1px 10px rgb(31, 31, 31); */
    margin-inline: 5px;
    padding-inline: 7px;
    border: 2px black solid;
    border-radius: 10px;
}

.detailed-legend-circle-sm,
.detailed-legend-circle-md,
.detailed-legend-circle-lg {
    padding-inline: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid var(--custom-teal);
}

.detailed-legend-circle-sm {
    width: 20px;
    height: 20px;
}

.detailed-legend-circle-md {
    width: 30px;
    height: 30px;
}

.detailed-legend-circle-lg {
    width: 50px;
    height: 50px;
}

.detailed-legend-line-sm,
.detailed-legend-line-md,
.detailed-legend-line-lg {
    padding-inline: 0;
    width: 50px;
    height: 2px;
    background-color: var(--custom-purple);
}

.detailed-legend-line-sm {
    margin-top: 9px;
    margin-bottom: 9px;
    height: 2px;
}

.detailed-legend-line-md {
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    height: 5px;
}

.detailed-legend-line-lg {
    margin-top: 21px;
    margin-bottom: 21px;
    height: 8px;
}

.detailed-legend-item span {
    font-size: 10px;
    text-align: center;
}

.line {
    width: 2px;
    padding-inline: 0px;
    height: 125px;
    background-color: black;
}

.line-text {
    text-align: center;
}

/* Media Queries*/

@media only screen and (max-width: 576px) {
    .graph-legend {
        width: 100px;
    }

    .graph-legend-row {
        height: 20px;
    }

    .legend-circle {
        height: 15px;
        width: 15px;
    }

    .legend-line {
        width: 15px;
        height: 2px;
    }

    .legend-caret {
        transform: scale(0.5);
    }
}
