.alumn-show {
  background: var(--custom-grey);
  margin: 1em 0 0 0;
  border: solid 2px var(--custom-teal);
  height: calc(100vh - 31px);
  min-height: 500px;
}

.alumn-show-list {
  margin: 1em;
  max-height: calc(100vh - 310px);
  min-height: 250px;
  overflow-y: hidden;
  overflow: scroll;
}
