.dashboard {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.text-left-padding {
    padding: 10px;
    text-align: left;
}

.info-button {
    position: absolute;
    padding: 0;
    right: 30px;
    top: 60px;
    z-index: 1000;
    border-radius: 50%;
    box-shadow: -1px 1px 10px rgb(31, 31, 31);
}