.password-reset-request {
    margin: 3em 2em 2em 2em;
    background: var(--custom-grey);
    border: solid 2px var(--custom-teal);
}

.password-reset-request-error-toast {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    z-index: 1000;
}

.password-reset-request-success-toast {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: green;
    z-index: 1000;
}