.toast-context {
    position: fixed;
    min-width: 15rem;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.toast-component {
    background-color: green;
    color: white;
}

.toast-error-component {
    background-color: red;
    color: white;
}