.alumn-show {
    background: var(--custom-grey);
    margin: 1em 0 1em 0;
    border: solid 2px var(--custom-teal);
    height: calc(100vh - 32px);
    min-height: 500px;
    display: flex;
    flex-direction: column;
}

.alumn-show-list {
    margin: 1em;
    overflow-y: scroll;
}
