:root {
  --custom-grey: #f5f5f5;
  --custom-purple: #4F2D7F;
  --custom-teal: #00B092;
  --custom-teal-border: #00A092;
  --custom-teal-shadow: #009092;
}

body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

@keyframes load {
  0%{
      opacity: 0.08;
/*         font-size: 10px; */
/* 				font-weight: 400; */
      filter: blur(5px);
      letter-spacing: 3px;
      }
  100%{
/*         opacity: 1; */
/*         font-size: 12px; */
/* 				font-weight:600; */
/* 				filter: blur(0); */
      }
}

.animate {
display:flex;
justify-content: center;
align-items: center;
height:100%;
margin: auto;
margin-bottom: 1rem;
/* 	width: 350px; */
/* 	font-size:26px; */
font-family: Helvetica, sans-serif, Arial;
animation: load 1.2s infinite 0s ease-in-out;
animation-direction: alternate;
text-shadow: 0 0 1px black;
}

.non-animate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
  margin-bottom: 1rem;
  /* 	width: 350px; */
  /* 	font-size:26px; */
  font-family: Helvetica, sans-serif, Arial;
}

.nav-item {
  height: 100%;
  padding: 0 25px;
  display: flex;
  justify-content: center;
}

.nav-item a {
  align-items: center;
  margin: auto 0;
}

span.alumn {
  color: rgb(77, 172, 147)
}

span.coauthor {
  color: rgb(152, 114, 223)
}

div#alumn-graph-show {
  top: 0px;
  right: 0px;
  width: 50%;
  height: 50%
}

h3.author-show-name {
  font-size: 2rem;
}
.button {
  background-color: var(--custom-purple);
  border-color: var(--custom-purple);
}

.button:hover {
  background-color: var(--custom-teal);
  border-color: var(--custom-teal-border);
}

.button:disabled {
  background-color: var(--custom-purple);
  border-color: var(--custom-purple);
}

.button:focus {
  background-color: var(--custom-teal)!important;
  border-color: var(--custom-teal-border)!important;
  box-shadow: 0 0 0 0.2rem var(--custom-teal-shadow)!important; 
}

.form-control:focus {
  border-color: var(--custom-teal-border);
  box-shadow: 0 0 0 0.2rem var(--custom-teal-shadow);
}

button.accordion-title, div.card-body {
  font-size: 100%;
}

.search-bar {
  width: 10%;
  transition: width 300ms ease-in-out;
}

@media only screen and (max-height: 425px) {
  div#alumn-graph-show {
    height: 75%;
  }
}

.search-result {
  padding: 5% 5%;
  border: 1px solid gray;
  list-style: none;
}

.search-result:hover {
  cursor: pointer;
}

@media only screen and (max-width: 825px) {
  h3.author-show-name {
    font-size: 100%;
  }
  button.accordion-title, div.card-body {
    font-size: 75%;
  }
  
  button.close {
    font-size: 125%;
  }

  .search-bar {
    width: 25%;
  }
}

@media only screen and (max-width: 425px) {
  div#alumn-graph-show {
    left: 0px;
    width: 85%;
    height: 40%;
    transform: translate(10%, 140%);
  }
}

.PhoneInputInput {
display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
