:root {
    --custom-grey: #f5f5f5;
    --custom-purple: #4f2d7f;
    --custom-teal: #00b092;
    --custom-teal-border: #00a092;
    --custom-teal-shadow: #009092;
    --custom-delete: #b0001e;
    --custom-delete-hover: #99001a;
    --custom-delete-border: #8c0015;
    --custom-delete-shadow: rgba(70, 0, 14, 0.5);
    --custom-cancel: #6c9bad;
    --custom-cancel-hover: #374f58;
    --custom-cancel-border: #373f58;
    --custom-cancel-shadow: #372f58;
}

body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

@keyframes load {
    0% {
        opacity: 0.08;
        /*         font-size: 10px; */
        /* 				font-weight: 400; */
        filter: blur(5px);
        letter-spacing: 3px;
    }
    100% {
        /*         opacity: 1; */
        /*         font-size: 12px; */
        /* 				font-weight:600; */
        /* 				filter: blur(0); */
    }
}

.navbar {
    min-height: 104px;
    background-color: var(--custom-grey);
    border-bottom: 1px solid var(--custom-teal);
}

.navbar-nav {
    margin-left: auto !important;
    align-items: flex-end !important;
}

.navbar-toggler {
    color: var(--custom-purple) !important;
    border-color: var(--custom-purple) !important;
}

.navbar-toggler:hover {
    color: var(--custom-teal) !important;
    border-color: var(--custom-teal-border) !important;
}

.navbar-toggler:active {
    box-shadow: 0 0 0 0.2rem var(--custom-teal-shadow) !important;
}

.nav-link {
    color: var(--custom-purple) !important;
    font-size: 1.2em;
}

.nav-link:hover {
    color: var(--custom-teal) !important;
}

.nav-link:active {
    text-decoration: underline;
}

span.alumn {
    color: rgb(77, 172, 147);
}

span.coauthor {
    color: rgb(152, 114, 223);
}

div#alumn-graph-show {
    top: 0px;
    right: 0px;
    width: 50%;
    height: 50%;
}

h3.author-show-name {
    font-size: 2rem;
}

.button {
    background-color: var(--custom-purple) !important;
    border-color: var(--custom-purple) !important;
}

.button:hover {
    background-color: var(--custom-teal) !important;
    border-color: var(--custom-teal-border) !important;
}

.button:disabled {
    background-color: var(--custom-purple) !important;
    border-color: var(--custom-purple) !important;
}

.button:focus {
    background-color: var(--custom-teal) !important;
    border-color: var(--custom-teal-border) !important;
    box-shadow: 0 0 0 0.2rem var(--custom-teal-shadow) !important;
}

.delete-button {
    background-color: var(--custom-delete) !important;
    border-color: var(--custom-delete) !important;
}

.delete-button:hover {
    background-color: var(--custom-delete-hover) !important;
    border-color: var(--custom-delete-border) !important;
}

.delete-button:disabled {
    background-color: var(--custom-delete) !important;
    border-color: var(--custom-delete) !important;
}

.delete-button:focus {
    background-color: var(--custom-delete-hover) !important;
    border-color: var(--custom-delete-border) !important;
    box-shadow: 0 0 0 0.2rem var(--custom-delete-shadow) !important;
}

.cancel-button {
    background-color: var(--custom-cancel) !important;
    border-color: var(--custom-cancel) !important;
}

.cancel-button:hover {
    background-color: var(--custom-cancel-hover) !important;
    border-color: var(--custom-cancel-border) !important;
}

.cancel-button:disabled {
    background-color: var(--custom-cancel) !important;
    border-color: var(--custom-cancel) !important;
}

.cancel-button:focus {
    background-color: var(--custom-cancel-hover) !important;
    border-color: var(--custom-cancel-border) !important;
    box-shadow: 0 0 0 0.2rem var(--custom-cancel-shadow) !important;
}

.form-control:focus {
    border-color: var(--custom-teal-border);
    box-shadow: 0 0 0 0.2rem var(--custom-teal-shadow);
}

.dropdown-menu {
    background-color: var(--custom-grey) !important;
}

.dropdown-item {
    color: var(--custom-purple) !important;
    background-color: var(--custom-grey) !important;
}

.dropdown-item:hover {
    color: var(--custom-teal) !important;
    background-color: var(--custom-grey) !important;
}

button.accordion-title,
div.card-body {
    font-size: 100%;
}

@media only screen and (max-height: 425px) {
    div#alumn-graph-show {
        height: 75%;
    }
}

@media only screen and (max-width: 825px) {
    h3.author-show-name {
        font-size: 100%;
    }
    button.accordion-title,
    div.card-body {
        font-size: 75%;
    }
}

@media only screen and (max-width: 425px) {
    div#alumn-graph-show {
        left: 0px;
        width: 85%;
        height: 40%;
        transform: translate(10%, 140%);
    }
}

.PhoneInputInput {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
